.about-as{
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width:$maxWidth;
   margin: 0 auto;
}

.about-as__title{
   font-size: 28px;
   margin: 60px 0;
   @include mediaQ(tablet-large) {
      margin-top: 120px;
   }
   @include mediaQ(smartphone-large) {
      font-size: 34px;
   }
}

.about-as__article{
   font-size: 22px;
   text-align: center;
   margin: 30px 25px;
   @include mediaQ(smartphone-large) {
      font-size: 28px;
  }
}

.about-as__picture-conteiner{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 30px;
   @include mediaQ(tablet-large) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
   }
}
.about-as__div-cointeioner{
   display: flex;    
   overflow: hidden;
   @include mediaQ (tablet) {
         width: 80%;
      }
   @include mediaQ (tablet-large) {      
         width: 50%;
      }   
}

.about-as__picture{
   width: 100vw;
   overflow: hidden;
   transition: linear .3s;
   &:hover{
      transform: scale(1.1);
   }
   @include mediaQ (desktop-small) {
      width:100%;
   }
}