// .header{
//    position: absolute;
//    top:0;
//    left: 0;
//    right: 0;
//    min-height: calc(100vh - 65px);    
//    margin: 65px 0 0;
//    background-image: url('../images/header.jpg');
//    background-position: center 0%;
//    background-attachment:fixed;
//    text-align: center;
// }
// .header__tile{
//    position: absolute;
//    padding: 25px 0;
//    top:40%;
//    left:0;
//    right: 0;
//    background:rgba(255,255,255, 0.5);
//    transform: translate(0%,-50%); 
//    font-size: 50px;  
// }

.header{
   min-height:100vh ;
   background-color: #aaa;
   background-image: url('../images/header.jpg');
   background-attachment:fixed;
   background-position: center 0%;
   background-size: cover;
   position: relative;
  }

.header__title{
   position: absolute;
   top:50%;
   left: 0;
   right: 0;
   transform: translate(0%,-50%);
   padding: 30px 0;
   background:rgba(255,255,255, 0.5);   
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;  
   @include mediaQ(smartphone-large) {
      font-size: 42px;
      padding: 30px 15px;
      word-spacing: 15px;
   }
}
