
.header{
   height:100vh ;
   background-color: #aaa;
   background-image: url('../images/header.jpg');
   background-attachment:fixed;
   background-position: center 0%;
   background-size: cover;
   position: relative;
   animation: scale 5s 1;
  }
  @keyframes scale{
     0%{
        transform: scale(1.5);
     }
     100%{
         transform: scale(1);
     }
  }

.header__title{
   position: absolute;
   top:50%;
   left: 0;
   right: 0;
   transform: translate(0%,-50%);
   padding: 30px 0;
   background:rgba(255,255,255, 0.5);   
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;  
   animation: slide 5s .2s 1 both;
   @include mediaQ(smartphone-large) {
      font-size: 42px;
      padding: 30px 15px;
      word-spacing: 15px;
   }
}
@keyframes slide{
   0%{
      opacity: 0;
      transform: translateY(100%);
   }
   100%{
      opacity: 1;
      transform: translateY(0);
   }
}
