@mixin articleMainStyle {
   margin: 50px 50px;
   font-size: 24px;
   text-align: center;
   line-height: 35px;   
};

@mixin mediaQ($breakpoint){
   $size: map-get($breakpoints, $breakpoint);
   @if ($size){
      @media #{$size}{
         @content;
      }
   }  
}