
.navigation{
   padding: 0;
   margin: 0;
   display: flex;
   position: fixed;
   width: 100vw;
   background-color: $pageBg;
   z-index: 1;
   transition: transform  linear .4s;
   transform: translateY(-100%);
   &--burger-active{
    transform: translateY(0%);  
   }
   @include mediaQ (tablet-large) {
      justify-content: flex-end;
      padding: 15px 20px;
      position: fixed;
      left: 0;
      right: 0;     
      transform: translateY(0%); 
   }
 }

 .navigation__logo{
   height: 80px;
   position: absolute;  
   top: 5px;
   left: -40px;
   @include mediaQ(smartphone){
      top:10px;
      left: -25px;
   }
  }
 .navigation__contener-ul{   
   width: 100vw;
   margin: 80px 0;
   padding: 0; 
   @include mediaQ (tablet-large) {
      width: 90vw;
      margin: 0 15px 0 0;
      display: flex;
      justify-content: space-evenly;
   }
   @include mediaQ (desktop-small) {
      margin-right: 30px;
   }
 }
.navigation__li-Element{
   font-size: 25px;
   text-transform: uppercase;
   list-style: none;    
   @include mediaQ (tablet-large) {
      width: 100%;
   }
   &:last-child .navigation__link{
     border-bottom: none;
     @include mediaQ (tablet-large) {
      border-bottom: 2px solid $pageBg;      
      &:hover{
         border-bottom: black 2px solid;
      }
   }
   } 
  
}
.navigation__link{
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 10px 0;
   box-sizing: border-box;
   text-decoration: none;
   color: black;   
   border-bottom: black 2px solid; 
   transition: linear .3s;

   &:hover{
      border-bottom: black 2px solid;
   }
   @include mediaQ (tablet-large) {
      border-bottom: 2px solid $pageBg;
      width: 100%;
      font-size: 30px;
   }
 
}

.navigation-icon{
   position: fixed;
   right: 20px;
   top: 20px;
   width: 40px;
   height: 40px;
   z-index: 500;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   cursor: pointer;
   @include mediaQ(tablet-large){
      display: none;
   }
}

 
.navigation-icon__first-icon,.navigation-icon__second-icon,.navigation-icon__last-icon{
   width: 100%;
   height: 5px;
   background: #000000;
   border-radius: 5px;
   box-shadow: black 0px 0px 10px -1px;
   transition: .2s linear;
}  

.navigation-icon--active .navigation-icon__first-icon{
   transform: rotate(45deg) translateY(16px) ;
}

.navigation-icon--active .navigation-icon__last-icon{
   transform: rotate(-45deg) translateY(-16px) ;
}
.navigation-icon--active .navigation-icon__second-icon{
   opacity: 0;
}
