body { 
  margin: 0;
  background-color: $pageBg;
  font-family: $mainFonts;  
}
.wrapper{
box-sizing: border-box;
margin: 0 auto;
overflow: hidden;
background-color: $pageBg;
}

html {
  scroll-behavior: smooth;
}