$pageBg: #F2F2F2;
$mainFonts: 'Roboto', sans-serif;
$secondFonts:'Noto Sans KR', sans-serif;
$fontSH2:35px;
$breakpoints:(
   smartphone : (min-width:420px),
   smartphone-large : (min-width:640px),
   tablet : (min-width:800px),
   tablet-large : (min-width:1024px),
   desktop-small : (min-width:1280px),
   desktop-medium : (min-width:1600px),
   desktop-large : (min-width:1900px),
);
$maxWidth: 1400px;